.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

td {
  min-width: 50px;
  width: 10vw;
  max-width: 100px;
  border: solid 3px black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

td:nth-child(1) {
  border-top-color: white;
  border-left-color: white;
}

td:nth-child(2) {
  border-top-color: white;
}

td:nth-child(3) {
  border-top-color: white;
  border-right-color: white;
}

td:nth-child(4) {
  border-left-color: white;
}

td:nth-child(6) {
  border-right-color: white;
}

td:nth-child(7) {
  border-left-color: white;
  border-bottom-color: white;
}

td:nth-child(8) {
  border-bottom-color: white;
}

td:nth-child(9) {
  border-right-color: white;
  border-bottom-color: white;
}

button {
  margin-top: 40px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: grey 0px 0px 5px;
}

.gameOver {
  cursor: default;
}

.gameActive {
  cursor: pointer;
}

.winningCell {
  background-color: greenyellow;
}

.gameStatus {
  margin-bottom: 30px;
  height: 60px;
  width: 80vw;
  position: relative;
}

.cross,
.circle {
  position: absolute;
}
