.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

td {
  height: 50px;
  width: 50px;
  border: solid 3px black;
  margin:0;
}

td:nth-child(1) {
  border-top-color: white;
  border-left-color: white;
}

td:nth-child(2) {
  border-top-color: white;
}

td:nth-child(3) {
  border-top-color: white;
  border-right-color: white;
}

td:nth-child(4) {
  border-left-color:white;
}

td:nth-child(6) {
  border-right-color: white;
}

td:nth-child(7) {
  border-left-color: white;
  border-bottom-color: white;
}

td:nth-child(8) {
  border-bottom-color: white;
}

td:nth-child(9) {
  border-right-color: white;
  border-bottom-color: white;
}